

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(135deg, #f3c39b, #ecece7);
  font-family: "Poppins", Arial, sans-serif;
}


.login-card {
  background: #f5c254;
  padding: 40px 35px;
  width: 380px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease;
}

.login-card:hover {
  transform: translateY(-3px);
}

.login-title {
  font-size: 1.6rem;
  color: #2c3e50;
  margin-bottom: 25px;
}

/* Error Message */
.error-box {
  background: #fdecea;
  color: #b71c1c;
  border: 1px solid #f5c2c7;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

/* Form Groups */
.form-group {
  text-align: left;
  margin-bottom: 18px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #34495e;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #2c3e50;
}

/* Button */
.btn-login {
  width: 100%;
  background: #2c3e50;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.btn-login:hover {
  background: #1a242f;
}

/*signup-link*/
.signup-link {
  margin-top: 20px;
  font-size: 0.95rem;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.signup-link a:hover {
  text-decoration: underline;
}
